.a-enter-vr-button {
    position: fixed !important;
    bottom: auto !important;
    right: auto !important;
    left: 20px !important;
    top: 20px !important;
}
.a-enter-ar-button {
    position: fixed !important;
    bottom: auto !important;
    right: auto !important;
    left: 80px !important;
    top: 20px !important;
}
